html {
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    background: #3a3a3a;
    color: beige;
    font-family: 'Roboto', sans-serif!important;
    margin: 0px;
    padding: 0px;
}
footer{
    background-color: #3a3a3a;
    color: gray;
    padding: 10px;
    margin: 0px;
}
a.githubLink:hover {
    text-decoration: none;
    color: gray;
}
a.githubLink{
    color: aliceblue;  
}
.navSvg{
    position: relative;
    top: 2px;
    color: beige;
}
.jumbotron {
    margin: 0px!important;
}

.darkHeading{
    background-color: #232627!important;
    color: beige;
}
.darkContent{
    background-color: #181A1B!important;
    color: beige;
}
.darkContentCard{
    background-color: #232627!important;
}
body::-webkit-scrollbar{
    width: 0.35rem;
}
body::-webkit-scrollbar-thumb{
    background-color: #343A40;
}
body::-webkit-scrollbar-track{
    background-color: #E9ECEF;
}