.home-jumbo{
    background-image: url("images/smokemask.png");  
    color: beige;
    margin: 0px!important;
    padding-bottom: 0px!important;
    text-align: center;
}
ul.subNav li{
    display: inline-block;
    margin: 0px 8px!important;
    padding: 10px!important;
} 
ul.subNav a{
    text-decoration: none;
    color: beige;
} 
ul{
    margin: 0px!important;
    padding: 0px!important;
    list-style-type: none;   
}
.jumbotron {
    margin: 0px!important;
}
.aboutMe{
    align-items: center;
    text-align: center;
}
.btn{
    margin: 1px!important;
}

button span{
    color: beige;
}
